/* Đây là màu chủ đạo của website, mình sẽ thường dùng màu này để CSS cho chữ và nút nên Trang tạo 1 biến,
khi nào mn cần CSS màu này thì chỉ cần gọi var(--primary-color) là sẽ đùng được, không cần tra lại mã màu nha */
:root {
    --primary-color: #f26822;
}

/* Phần này Trang reset CSS để bỏ đi những CSS mặc định của trình duyệt thôi nha mn */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

/* Nút button mình sẽ dùng lại nhiều lần và nó CSS giống nhau nên Trang tạo 1 class chung ở đây,
khi nào mn cần tạo nút này thì chỉ cần add class 'btn' vô là được nhé. */
.my-btn {
    text-decoration: none;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    font-weight: 400;
    line-height: 0.8;
    transition: 0.5s ease;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.my-btn:hover {
    color: var(--primary-color);
    background-color: #ffffff;
}

/* Reset a để nó không bị gạch dưới nữa */
a,
a:visited {
    text-decoration: none !important;
    color: inherit;
}

/* Container để đẩy layout vào giữa */
.my-container {
    margin: 0px auto;
    padding: 0 0 0 30px;
    box-sizing: border-box;
    text-align: center;
    max-width: 1200px;

}

.title-bar {
    background-image: url(//theme.hstatic.net/200000044142/1000773248/14/line.png?v=12015);
    background-repeat: repeat-x;
    background-position: center;
    text-align: center;
    position: relative;
}

.title {
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    background: #ffffff;
    padding: 0px 20px;
    line-height: 1.4;
    text-transform: unset;
}

.title::before {
    content: " ";
    position: absolute;
    background: #fff;
    width: 40px;
    height: 5px;
    top: 8px;
    right: -40px;
}

.title::after {
    content: " ";
    position: absolute;
    background: #fff;
    width: 40px;
    height: 5px;
    top: 8px;
    left: -40px;
}


/* Section: Sản phẩm tiêu biểu */

/* .caroulsel {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
} */

.productsCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 30px;
}

.img-container {
    height: 218px;
    width: 218px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.img-container:hover {
    cursor: pointer;
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.img-container .discount {
    position: absolute;
    top: 5px;
    border-radius: 0px 25px 25px 0px;
    left: -5px;
    background-color: #ff0000;
    padding: 0px 5px;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    height: 20px;
    width: 45px;
    margin-left: 5px;
}

.img-after {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s smooth;
    visibility: hidden;
}

.img-after.active {
    visibility: visible;
}

box-01:hover img:last-child {
    display: block;
}



.box-01 {
    margin: 15px;
    max-width: 100%;
    text-align: center;
    line-height: 1.6;
    padding-left: 20px;
    display: flex !important;
    flex-direction: column;
    gap: 5px;

}

.box-01 .my-btn {
    width: 100%;
    color: var(--primary-color);
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    text-transform: none;
    font-size: 14px;
}


.box-01 .my-btn:hover {
    width: 100%;
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;

}

.box-01 .product-name a {
    font-size: 16px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    text-transform: uppercase;
}

.product-info {
    color: #676767;
    margin-bottom: 0;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;

}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    letter-spacing: 1px;
}

.old-price {
    font-size: 13px;
    color: #999;
    font-weight: 400;
    text-decoration: line-through;
}

.current-price {
    color: var(--primary-color);
    font-weight: 600;
}


#home-flashsale .title {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: var(--primary-color);
    float: left;
    padding-top: 30px;
    text-transform: capitalize;
    font-family: "Montserrat";
}



/* Phần này là Flash Sale */

.myCarousel {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}


.pre-btn,
.next-btn {
    border: none;
    filter: drop-shadow(0 4px 7px rgba(0, 0, 0, 0.15));
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;

}


.pre-btn:hover,
.next-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s ease;
    opacity: 1;
}
.my-slider{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 480px) {
    .my-container {
        padding: 0px;
        margin: 0px;
    }

    .box-01 {
        margin: auto;
        padding: 0px;

    }


}